# Function Practice Exercises

Problems are arranged in increasing difficulty:

    Warmup - these can be solved using basic comparisons and methods.
    Level 1 - these may involve if/then conditional statements and simple methods.
    Level 2 - these may require iterating over sequences, usually with some kind of loop.
    Challenging - these will take some creativity to solve.

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [1]:
def lesser_of_two_numbers(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [2]:
lesser_of_two_numbers(2,4)

2

In [3]:
lesser_of_two_numbers(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [1]:
def animal_crackers(string):
    if string.lower().split(' ')[0][0] == string.lower().split(' ')[1][0]:
        return True
    else:
        return False

In [2]:
animal_crackers('Levelheaded Llama')

True

In [3]:
animal_crackers('Crazy Kangaroo')

False

In [4]:
animal_crackers('Crazy cat')

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [6]:
def makes_twenty(a,b):
    return a+b == 20 or (a == 20 or b == 20)

In [7]:
makes_twenty(20,10)

True

In [8]:
makes_twenty(12,8)

True

In [9]:
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

old_macdonald('macdonald') --> MacDonald

In [14]:
def old_macdonald(name):
    return name[:3].capitalize() + name[3:].capitalize()

In [15]:
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'

In [33]:
def master_yoda(text):
    list1 = (text.split(" "))
    list1.reverse()
    return (" ").join(list1)

In [34]:
master_yoda('I am home')

'home am I'

In [35]:
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
    
    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True

In [16]:
def almost_there(n):
    return abs(n-100)<10 or abs(n-200)<10

In [17]:
almost_there(104)

True

In [18]:
almost_there(150)

False

In [19]:
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33:
    
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [21]:
def has_33(ls):
    for i in range(len(ls)-1):
        if ls[i:i+2] == [3,3] :
            return True
    return False

In [22]:
has_33([1, 3, 3])

True

In [23]:
has_33([1, 3, 1, 3])

False

In [24]:
has_33([3, 1, 3])

False

In [25]:
has_33([3, 1, 3, 3])

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [67]:
def paper_doll(text):
    s = ""
    for i in text:
        s += i*3
    return s

In [68]:
paper_doll('Hello')

'HHHeeellllllooo'

In [69]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [30]:
def blackjack(a,b,c):
    if sum((a,b,c)) <=21:
        return sum((a,b,c))
    elif sum((a,b,c)) <= 31 and 11 in [a,b,c] :
        return sum((a,b,c))-10
    else:
        return "BUST"

In [31]:
blackjack(5,6,7)

18

In [32]:
blackjack(9,9,9)

'BUST'

In [33]:
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the last 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [34]:
def summer_69(arr):
    if 6 in arr and 9 in arr and arr.index(6) < len(arr)-1-arr[::-1].index(9):
        del arr[arr.index(6):len(arr)-1-arr[::-1].index(9)+1]
    return sum((arr))

In [41]:
summer_69([1, 3, 5])

9

In [36]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [37]:
summer_69([2, 1, 6, 9, 11])

14

In [38]:
summer_69([2, 6, 1, 6, 9, 9, 11])

13

In [124]:
summer_69([2, 1, 9, 6, 9, 11])

23

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [127]:
def spy_game(nums):
    iter = -1
    for i in nums:
        iter += 1
        if nums[iter:iter+3] == [0,0,7] : 
            return True
    else:
        return False

In [128]:
spy_game([1,2,4,0,0,7,5])

True

In [129]:
spy_game([1,0,2,4,0,5,7])

False

In [130]:
spy_game([1,7,2,0,4,5,0])

False

In [138]:
spy_game([1,2,4,0,0,0,7,0,7,5,0,0,7])

True

#### COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

In [158]:
import math
def is_prime(n): 
    if n <= 1: 
        return False
    if n == 2: 
        return True
    if n > 2 and n % 2 == 0: 
        return False
  
    max_div = math.floor(math.sqrt(n)) 
    for i in range(3, 1 + max_div, 2): 
        if n % i == 0: 
            return False
    return True

def count_primes(num):
    count = 0
    for i in range(num):
        if is_prime(i):
            count += 1
    return count

In [159]:
count_primes(100)

25