In [1]:
print('This is a string with an {}'.format('insert'))

This is a string with an insert

##### 1. Inserted objects can be called by index position:

In [2]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

##### 2. Inserted objects can be assigned keywords:

In [3]:
print("{a} nhi hai wo {i} hai, {s} {s} {s}".format(s='Shaktimaan',a='avtaar',i="insaan"))

avtaar nhi hai wo insaan hai, Shaktimaan Shaktimaan Shaktimaan

### ------------------------------------------------------------------------------------------------------------------------------------

#### Accessing arguments by name:

In [36]:
print('Coordinates : {latitude},{longitude}'.format(latitude='37.24N', longitude='-115.81W'))
coord = {'latitude':'37.24N','longitude':'-115.81W'}
print('Coordinates : {latitude},{longitude}'.format(**coord))

Coordinates : 37.24N,-115.81W
Coordinates : 37.24N,-115.81W

### -------------------------------------------------------------------------------------------------------------------------------------

#### Accessing argumentsâ€™ attributes:

In [44]:
c= 3-5j
'The Complex Number {0} is formed by real part {0.real} and imaginary part {0.imag}'.format(c)

'The Complex Number (3-5j) is formed by real part 3.0 and imaginary part -5.0'

In [55]:
class Point:
    def __init__(self,x,y):
        self.x , self.y = x , y
    def __str__(self):
        return "Point({s.x},{s.y})".format(s=self)
str(Point(4,2))

'Point(4,2)'

In [56]:
class Point:
    def __init__(self,x,y):
        self.x , self.y = x , y
    def __str__(self):
        return "Point({0.x},{0.y})".format(self)
str(Point(4,2))

'Point(4,2)'

### ------------------------------------------------------------------------------------------------------------------------------------

#### Numbers in different number system and using , as a thousand operator

In [71]:
'Binary : {0:b} , Octal : {0:o} , Decimal : {0:d} , Hex : {0:x}'.format(168)

'Binary : 10101000 , Octal : 250 , Decimal : 168 , Hex : a8'

In [64]:
'{:,}'.format(12345678)

'12,345,678'

### ------------------------------------------------------------------------------------------------------------------------------------

#### Using type specific formatting

In [69]:
import datetime
d = datetime.datetime(2019,8,30,5,6,45)
print('{:%Y-%m-%d  %H:%M:%S}'.format(d))

2019-08-30  05:06:45

### Alignment, padding and precision with .format()

Within the curly braces you can assign field lengths, left/right alignments, rounding parameters and more

In [4]:
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3.))
print("{0:6}| {1:5}".format('mango',12.5))

Fruit    | Quantity
Apples   |       3.0
mango |  12.5

By default, .format() aligns text to the left, numbers to the right. You can pass an optional <,^, or > to set a left, center or right alignment:

In [11]:
print("{2:<8} | {1:^8} | {0:>8}".format("right","center","left"))
print("{2:<8} | {1:^8} | {0:>8}".format("11","22","33"))

left     |  center  |    right
33       |    22    |       11

In [12]:
print("{2:#<8} | {1:$^8} | {0:%>8}".format("right","center","left"))
print("{2:<8} | {1:^8} | {0:>8}".format("11","22","33"))

left#### | $center$ | %%%right
33       |    22    |       11

In [25]:
print("This is a ten-character :{0:10.2f}".format(2.3456))

This is a ten-character :      2.35

Note that there are 5 spaces following the colon, and 5 characters taken up by 13.58, for a total of ten characters.

### ------------------------------------------------------------------------------------------------------------------------------------

In [82]:
octets = [192, 168, 0, 1]
'{:02X}{:02X}{:02X}{:02X}'.format(*octets)

'C0A80001'

In [97]:
for i in range(5,20):
    for j in 'dxob':
        print('{0:5{base}}'.format(i,base=j),end = ' ')
    print()

    5     5     5   101
    6     6     6   110
    7     7     7   111
    8     8    10  1000
    9     9    11  1001
   10     a    12  1010
   11     b    13  1011
   12     c    14  1100
   13     d    15  1101
   14     e    16  1110
   15     f    17  1111
   16    10    20 10000
   17    11    21 10001
   18    12    22 10010
   19    13    23 10011

## Template

In [107]:
from string import Template
s = Template("$who likes $whom")
print(s.substitute(who='Romeo',whom='Juliet'))
print(s.substitute(who='Tota',whom='Maina'))
print(s.safe_substitute(who='yoyo',whom='honeysingh'))

Romeo likes Juliet
Tota likes Maina
yoyo likes $whom